.footer-wrapper p, .footer-wrapper p a{
    color: white;
    font-size: 12px;
    line-height: 14px;
}
.footer-wrapper p a.footer-contact-link{
    font-size: 16px;
    line-height: 19px;
}
.footer-wrapper p.footer-products{
    color: white;
    font-size: 14px;
    line-height: 16px;
}
.footer-link{
    color: white;
    color: white !important;
    text-decoration: underline;
}