.u-bg-unum-blue{
    background-color: $unum-blue;
}
.u-text-unum-blue{
    color: $unum-blue;
}
.u-bg-unum-sand{
    background-color: $unum-sand
}
.u-bg-unum-sand2{
    background-color: $unum-sand2
}
.u-bg-colonial-steel-blue{
    background-color: $colonial-steel-blue;
}
.u-text-white{
    color: white;
}
.u-bg-grey{
    background-color: #f7f7f7;
}
.link-white{
    color: white;
}
.u-no-margin{
    Margin: 0 !important;
    margin: 0 !important;
}
.u-no-margin-bottom{
    Margin-bottom: 0 !important;
    margin-bottom: 0 !important;
}

// birch prefixed

// unum colors
.birch-util-color-unum-blue{
    color: $unum-blue;
}
.birch-util-background-color-unum-blue{
    background-color: $unum-blue;
}

.birch-util-color-unum-sand{
    color: $unum-sand;
}
.birch-util-background-color-unum-sand{
    background-color: $unum-sand;
}
.birch-util-color-unum-sand2{
    color: $unum-sand2;
}
.birch-util-background-color-unum-sand2{
    background-color: $unum-sand2;
}

// colonial colors
.birch-util-color-colonial-dark-grey{
    color: $colonial-dark-grey;
}
.birch-util-background-color-colonial-dark-grey{
    background-color: $colonial-dark-grey;
}

.birch-util-color-colonial-steel-blue{
    color: $colonial-steel-blue;
}
.birch-util-background-color-colonial-steel-blue{
    background-color: $colonial-steel-blue;
}

// misc colors
.birch-util-color-white{
    color: white;
}
.birch-util-background-color-white{
    background-color: white;
}
.birch-util-background-color-grey{
    background-color: #f7f7f7;
}

// util classes
.birch-util-no-margin{
    Margin: 0 !important;
    margin: 0 !important;
}
.birch-util-no-margin-bottom{
    Margin-bottom: 0 !important;
    margin-bottom: 0 !important;
}
