// .u-bg-unum-blue{
//     background-color: $unum-blue;
// }
// .u-text-unum-blue{
//     color: $unum-blue;
// }
// .u-bg-unum-sand{
//     background-color: $unum-sand
// }
// .u-bg-unum-sand-dark{
//     background-color: $unum-sand-dark
// }
// .u-bg-colonial-steel-blue{
//     background-color: $colonial-steel-blue;
// }
// .u-text-white{
//     color: white;
// }
// .u-bg-grey{
//     background-color: #f7f7f7;
// }
// .link-white{
//     color: white;
// }
// .u-no-margin{
//     Margin: 0 !important;
//     margin: 0 !important;
// }
// .u-no-margin-bottom{
//     Margin-bottom: 0 !important;
//     margin-bottom: 0 !important;
// }

// birch prefixed

// unum colors
.birch-util-color-unum-blue{
    color: $unum-blue;
}
.birch-util-background-color-unum-blue{
    background-color: $unum-blue;
}

.birch-util-color-unum-sand{
    color: $unum-sand;
}
.birch-util-background-color-unum-sand{
    background-color: $unum-sand;
}
.birch-util-color-unum-sand-dark{
    color: $unum-sand-dark;
}
.birch-util-background-color-unum-sand-dark{
    background-color: $unum-sand-dark;
}

// colonial colors
.birch-util-color-colonial-dark-grey{
    color: $colonial-dark-grey;
}
.birch-util-background-color-colonial-dark-grey{
    background-color: $colonial-dark-grey;
}

.birch-util-color-colonial-steel-blue{
    color: $colonial-steel-blue;
}
.birch-util-background-color-colonial-steel-blue{
    background-color: $colonial-steel-blue;
}
.birch-util-color-colonial-steel-blue-light{
    color: $colonial-steel-blue-light;
}
.birch-util-background-color-colonial-steel-blue-light{
    background-color: $colonial-steel-blue-light;
}

// misc colors
.birch-util-color-white{
    color: white;
}
.birch-util-background-color-white{
    background-color: white;
}
.birch-util-background-color-grey{
    background-color: #f7f7f7;
}

// util classes
.birch-util-no-margin{
    Margin: 0 !important;
    margin: 0 !important;
}
.birch-util-no-margin-bottom{
    Margin-bottom: 0 !important;
    margin-bottom: 0 !important;
}

center{
    min-width: initial !important;
}
.birch-util-full-width{
    width: 100%;
}
// .birch-util-large-only-padding-bottom-50{
//     padding-bottom: 50px !important;
// }


// @media only screen and (max-width: 616px) {
@media only screen and (min-width: 617px) {    
    .birch-small-only {
        display: none !important;
        overflow: hidden !important;
        max-height: 0 !important;
        font-size: 0 !important;
        line-height: 0 !important;
    }
}

@media only screen and (max-width: 616px) {
    .birch-util-mobile-center{
	    Margin: 0 auto; clear: both; float: none; margin: 0 auto; text-align: center;		
    }
    .birch-util-mobile-padding-top-50{
        padding-top: 50px !important;
    }
    .birch-util-mobile-padding-bottom-50{
        padding-bottom: 50px !important;
    }
    // .birch-util-mobile-no-padding-top{
    //     padding-top: 0 !important;
    // }
    // .birch-util-mobile-no-padding-bottom{
    //     padding-bottom: 0 !important;
    // }
}